.listen-now {
  /* background-color: red; */
  padding-inline-start: 2rem;
  padding-inline-end: 2rem;
}

.listen-now-img {
  display: flex;
  gap: 1.5rem;

  margin-block-start: 2rem;
  margin-block-end: 1.125rem;
  padding-left: 1.2rem;
}

.listen-now-description {
  font: var(--baseFont);
  margin: 0;
}

.listen-now-img img {
  width: 100%;
  object-fit: cover;
}
