.playlistB {
  background: rgba(255, 255, 255, 0.1);
  inline-size: 17.5rem;

  display: flex;
  border-radius: 0.5rem;
  overflow: hidden;
  transition: 0.3s background;

  /* flex-shrink: 0; */
}

.playlistB:hover,
.playlistB:focus-within {
  background: rgba(255, 255, 255, 0.2);
}

.playlistB-cover img {
  vertical-align: middle;
  inline-size: 4.75rem;
  block-size: 4.75rem;
}

.playlistB-details {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem;
  flex: 1;
}

.playlistB-title {
  font: var(--baseFontBold);
  color: var(--white);
  margin: 0;
  flex: 1;
}

.playlistB:hover .playlistB-control,
.playlistB:focus-within .playlistB-control {
  opacity: 1;
}

.playlistB-control {
  opacity: 0;
  transition: 0.3s;
}
