.search-music {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(200px, 1fr));
  justify-content: center;

  gap: 1rem;

  block-size: 100vh;
}

.search-content {
  color: var(--white);
  font: var(--headline1);
  background-color: var(--gray10);
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}

.search-content p {
  margin: 1rem;
}

.search-img {
  height: 100px;
  width: 100px;
  position: absolute;
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 20%);
  transform: rotate(25deg) translate(18%, -2%);
  right: 0;
  bottom: 0;
}
